@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Welfare Danmark";

}
<body>

    <div class="About-class">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>



        <p class="About-text">
            Welfare Danmark is a leading company in the industry of
            welfare technologies. The company offers tested and efficient virtual solutions for rehabilitation.
            Welfare Denmark won the Microsoft Global Innovation Award in 2013 with Virtual Training®.
            WD has developed solutions for the healthcare industry in a close and formalized cooperation
            with several municipalities in Denmark. These municipalities have contributed significantly to the
            development of Welfare Denmark’s technologies on a management and therapist levels. Such
            productive cooperation enabled WD to offer solutions that fit into daily healthcare operations
            and that efficiently contribute to resolve the growing number of challenges posed by the
            healthcare industry to a society.
        </p>


        <h3>Company conttact persons</h3>
        <p>
            Simon Brandt/Managing partner - SB@welfaredanmark.dk<br /><a href="https://www.linkedin.com/in/simon-brandt-6194746/">Linkedin</a>
            <br /><br />
            Ulrik Møl/International manager - UM@welfaredanmark.dk<br /><a href="https://www.linkedin.com/in/ulrik-m%C3%B8ll-78a1958/">Linkedin</a>

        </p>
        <h3>
            Company Adress
        </h3>
        <p>
            Kongensgade 49B, 6700 Esbjerg Danmark <br /> Tlf: +4520676744 <br /><a href="http://www.welfaredenmark.com">Website</a>

        </p>

    </div>
</body>