@{
    ViewData["Title"] = "Contact";
    
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Kongensgade 49B<br />
    6700 Esbjerg Danmar<br />
    Tlf: +4520676744
</address>

